a {
  color: white;
}

.startPage a:hover {
  text-decoration: none;
  color: #ff4444;
}

.imgHome img {
  background: no-repeat center center fixed;
  /*background-size: cover;*/
  background-position: left top;
  padding: 0px;
  margin: -20px;
  /*height: 100vh;*/
  width: 100%;
}

.col-lg-6 {
  padding: 0px;
}

/*.imgHome{
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  width:100%;
  margin:0;
  padding:0;
}*/

/*hiding all the "Pages" to make it buttons interactive*/
.showNavagation{

}
.shopPage{
  display:none;
}
.productDescription{
  display:none;
}
.checkout{
  display:none;
}
#shop {
  margin-right: 40px;
  margin-bottom: 60px;
  background: none;
}

body {
  padding-top: 50px;
  background: rgb(248, 248, 248);
}

/*The browbar is under the title and over the pictures on the homepage*/
#titleBar {
  background-image: url(img/landscape.jpeg);
}
#browBar {
  background-color: black;
}

/*This is for text on photos on the homepage*/
#womanTitle, #manTitle, #kidTitle, #everyoneTitle{
  font-weight: 300;
  position: absolute;
  margin: 20px 50px;
  font-size: 80px;
  text-shadow: 2px 2px 3px #212121;
  float:right;
}
/*This is for text on photos on the homepage*/
#women, #men, #kids, #everyone, #browText {
  color: white;
}
/* This is the top title text on homepage*/
.display-1 {
  font-size: 120px;
}

.shop{
  padding: 00px;
  border:2px solid black;
  padding:20px;
  margin:10px;/*margin only works on row as whole*/
}

#swatch0, #swatch1, #swatch2, #swatch3, #swatch4, #swatch5 {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.thumb0, .thumb1, .thumb2, .thumb3, .thumb4, .thumb5 {
  margin-left:12px;
  margin-top: 12px;
  border: 2px solid white;
  background: white;
}

img:first {
  margin-top: 80px;
}

h1 {
  background: none;
}

.footer {
  height: 200px;
  background-color: #c8cbd1;
  width: 100%;
}

#footerText {
  position: absolute;
  margin: 60px 0px 0px 210px;
}

#cartCount{
  background-color: #d50000;
  color: white;
}
/*Product Thumbnail Gallery */
#product0 {
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  height: 100vh;
  width: 100%;
}

#product1 {
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  height: 100vh;
  width: 100%;
  display: none;
}

#product2 {
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  height: 100vh;
  width: 100%;
  display: none;
}

#product3 {
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  height: 100vh;
  width: 100%;
  display: none;
}

#product4 {
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  height: 100vh;
  width: 100%;
  display: none;
}

#product5 {
  background: no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  height: 100vh;
  width: 100%;
  display: none;
}

#thumbnail-area {
  position: absolute;
}

/* cart styling */
#emailDiscount{
  margin: 10px 30%;
}
#cartTitle{
  border-bottom: 2px solid blue;
}

#cartButton {
  margin-right: 10px;
}

.emptyCart{
  text-align: center;
  margin: 50px 150px;
}

#cartSymbol{
  width:40px;
  float:right;
  margin-right: 20px;
}

#priceCalculator{
  background: white;
  margin-right: 20px;
  margin-left: 10px;
  height:400px;
  width:240px;
  position:fixed;
  border: 2px solid black;
  float:right;
}

#priceCalculator h2{
  background-color: lightblue;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 25px;
}

#priceCalculator p{
  margin:30px 5px;
}

#emailDiscount h3{
  color: red;
}

/*Billing info*/
#billingInfo{
  margin-top: 40px;
}

#addressInfo{
  margin-top: 40px;
}

#creditCardInfo{
  margin-top: 40px;
}

#userInput h3{
  border-bottom: 2px solid blue;
}

.hideUserInput{
  position: relative;
  display:none;
}

.userConformation{
  display: none;
}

#purchase{
  margin:0 40%;
  display:none;
}

.cartItems{
  text-align: center;
}

.orderStyle{
  text-decoration: none;
  list-style-type: none;
  font-size: 30px;
  margin-left: 60px;
}

.priceSheet{
  margin: 15px;
  font-weight: bold;
}

.thankYou{
  display: none;
  text-align: center;
}
