{% include 'header.html.twig' %}

<div class='startPage'>
  <div class='row'>
    <div id='women'>
      <div class='col-lg-6'>
        <h1 id='womanTitle'><a class='womanClick' href='#'>Women's</a></h1>
        <div class='imgHome'>
          <img src='img/Women.png'>
        </div>
      </div>
    </div>
    <div id='men'>
      <div class='col-lg-6'>
        <div class='imgHome'>
          <h1 id='manTitle'><a class='manClick' href='#'>Men's</a></h1>
          <div class='imgHome'>
            <img class='imgHome' src='img/Men.png'>
          </div>
        </div>
      </div>
    </div>
 </div><!-- end row -->

  <div class='row'>
    <div id='kids'>
      <div class='col-lg-6'>
          <h1 id='kidTitle'><a class='kidClick' href='#'>Kid's</a></h1>
          <div class='imgHome'>
            <img class='imgHome' src='img/Kids.png'>
          </div>
      </div>
    </div>
    <div id='everyone'>
      <div class='col-lg-6'>
        <h1 id='everyoneTitle'><a class='everyoneClick' href='#'>Everyone</a></h1>
        <div class='imgHome'>
          <img class= 'imgHome' src='img/everyone_crop.jpg'>
       </div>
      </div>
   </div>
 </div>
</div><!-- end .startPage -->

<!-- add footer with twig below here -->
</body>
</html>
