{% include 'header.html.twig' %}

<div class=shopPage>
  <div class="container fluid-responsive">
    <div id="shopGrid">
        <div class="row" id="shopRow1">
      </div>
    </div><!--close row -->
  </div>
</div><!--close row -->

<!-- add footer with twig below here -->
</body>
</html>
